@charset "ISO-8859-1";


section{
    margin-left: 20%;
}

header{
    
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.opciones{
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 3%;
}
.cont{
    font-size: 20px;
    display: inline-block;
}
.cont2{
    font-size: 17px;
    display: inline-block;
    margin-left: 2%;
}
.cont3{
    display: inline-block;
    margin-left: 30%;
}
.cont3 button{
    font-size: 15px;
    padding: 5px;
    width: 120%;
}

.cont4{
    display: inline-block;
    margin-left: 5%;
}

.cont4 button{
    font-size: 15px;
    padding: 5px;
    width: 120%;
}
